<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Box Builder
  </h1>
  <p>
    Start Building
  </p>
  <div>
    <button class="btn btn-primary" (click)='addBox()'>Add Box</button>
    <button class="btn btn-danger" (click)='removeBox()'>Remove Box </button>
  </div>
  <br>
  <br>
  <div *ngIf="boxes.length">
    <div *ngFor="let box of boxes" style="display:inline-block;padding: 2px;">
      <span [ngClass]="getBoxColor(box)">{{box}}</span>

    </div>
  </div>
  <div *ngIf="!boxes.length">
    <span>No Boxes</span>
  </div>
  <br>
  <br>
  <div *ngIf='boxes.length'>
    <span [style.font-size.px]="getFontSize(boxes.length)">
      {{boxes.length}}
    </span>
  </div>
</div>